body {
    font-family: Arial, sans-serif;
    padding: 0px;
    width: 100%;
    margin: 0px;
    background-color: white;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    width: 100%;
    height: auto;
}

.small-div1 {
    width: 100%;
    max-width: 320px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 2px solid black;
    padding: 0px;
}

.image-div{
    padding: 0px;
    width: 80%;
    height: 240px;
    padding: 20px;
}

.small-div1 img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    border: 5px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

.small-div1 .info-div{
    display: none;
}
.small-div2 .linkedin-div{
    display: none;
}
.small-div2 .objective-div{
    display: none;

}
#mb1,#mb2{
    display: none;
}

.small-div2 {
    flex: 1;
    color: white;
    padding: 0px;
}

.info-div{
    font-size: 13px;
    margin: 0px;
    text-align: center;
    color:black;
}
.info-div h1,h2{
    font-size: 18px;
    margin: 0px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

hr {
    background-color:black;
    height: 2px;
    width: 50px;
}

.liner {
    background-color:black;
    height: 2px;
    width: 95%;
}

.contact-box-div {
    background-color: black;
    padding: 0px;
    width: 100%;
    margin: 0px;
    height: auto;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

.contact-box-div h3{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 10px;
}

.main-contact {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contact-img {
    width: 15%;
    height: auto;
    text-align: center;
}

.contact-div {
    flex: 1;
    padding: 0px;
    margin: 0px;
    font-size: 18px;
}

.contact-div h4,p{
    font-size: 13px;
    padding: 10px;
    font-family: sans-serif;
}
.custom-icn {
    padding: 2px;
    font-size: 18px;
    display: flex;
    align-items: center;
    height: 100%;
}

.contact-div h4{
    color: green;
}

.experience-div {
    background-color: white;
    color: black;
    padding: 0px;
    margin: 0px;    
}
.experience-div h1{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}

.paragraph-div {
    padding: 0px;
    margin: 0px auto;
    margin-bottom: 30px;
    width: 95%;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.paragraph-div h1{
    padding: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.paragraph-div p{
    font-size: 13px;
    font-family: sans-serif;
    padding: 10px;
    text-align: justify;
}

.education-div {
    background-color: #fff;
    padding: 0px;
    color: black;
    
}
.education-div h1{
    font-size: 18px;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.education-item {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
    width: 95%;
    height: auto;
    color: black;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.education-item h2,h4{
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
}
.year-box {
    color: black;
    padding: 0px;
    margin: 20px auto;
    text-align: center;
    justify-content: center;
    min-width: 80px;
}
.year-box h2{
    margin: 50px auto;

}
.info-box {
    flex: 1;
    padding: 0px;
    margin: 20px auto;
}

.info-box h3{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 0px;
}

.info-box h4{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 0px;
}

.info-box h5{
    font-size: 13px;
    font-family: sans-serif;
    padding: 10px;
    margin: 0px;
}

.info-box p {
    font-family: sans-serif;
    font-size: 13px;
    margin: 0px;
    padding: 10px;
}


.certifications-div {
    background-color: #fff;
    padding: 0px;
}

.certification-item {
    margin: 0px;
}

.certification-item h3{
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 10px;
}

.certification-info {
    border-left: 4px solid #0074d9;
    padding: 0px;
    width: 95%;
    margin: 20px auto;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

h4 {
    margin: 0px;
}

.certification-info p,a{
    margin: 0px;
    padding: 10px;
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: #0074d9;
}

.star-container {
    height: auto;
    display:flex;
    width:100%;
    padding: 0px;
}

.skills-div {
    width: 100%;
    height: auto;
    color: black;
    padding: 10px;
}
.skills-div h1{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.skills-div h4{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.star-ratings {
    display: flex;
    color: #f2d54b;
    font-size: 30px;
}

.star-filled::before {
    content: "\2605";
    margin-right: 5px;
}

.star-empty::before {
    content: "\2606";
    margin-right: 5px;
}

.star-half-filled::before {
    content: "\2605";
    margin-right: 5px;
    position: relative;
    color: #ccc;
    width: 50%;
}

.linkedin-div {
    padding: 20px;
    height: 10%;
    width: 80%;
}
.linkedin-div h1{
    color:black;
}

.linkedin-barcode {
    width: 90%;
    height: 40px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    margin-top: 10px;
}

.linkedin-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0074d9;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 15px;
    align-items: center;
}

.objective-div {
    color:black;
    padding: 0px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    transition: background-color 0.3s, color 0.3s;
    width: 95%;

}
.objective-div h1 {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 10px;
    text-align: justify;
}
.objective-div p {
    font-size: 13px;
    font-family: sans-serif;
    line-height: 1.5;
    text-align: justify;
}

.objective-div:hover {
    background-color: black;
    color: white;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.navbar {
    background-color: white;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 75px;
}

.nav-heading {
    width: 30%;
    background-color: black;
    color: white;
    height: auto;
    display: flex;
    align-items: center;
}

.nav-heading h1 {
    font-size: 18px;
    margin: 0;
    padding: 10px;
    padding-left: 50px;
}

.nav-btn {
    width: 70%;
    background-color: black;
    color: white;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.large-button {
    width: 100%;
    height: 100%;
    padding: 4px;
    font-size: 10px;
    border: 1px solid greenyellow;
    color: white;
    border-radius: 10px;
    background-color: transparent;
    margin: 0 15px;
    transition: color 0.3s;
}

.large-button:hover {
    color: white;
    background-color: green;
}


.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}

.footer-links {
    display: flex;
    font-size: 18px;
    align-items: center;
}

.footer-links a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #0077B5;
}

.social-icons {
    text-align: center;
    align-items: center;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #0077B5;
}

@media (max-width: 1100px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        padding: 1px;
    }
    .social-icons {
        margin-top: 10px;   
    }
    .footer-links{
        font-size: 70%;
    }
}
@media (max-width: 1100px) {
    .navbar {
        height: auto;
        background-color: black;
        border: none;
    }

    .nav-heading {
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 20px;
    }

    .nav-heading h1 {
        padding-left: 10px;
    }

    .nav-btn {
        width: 100%;
        justify-content: space-evenly;
        padding: 0px;
    }

    .large-button {
        width: 100%;
        font-size: 10px;
        margin: 5px 10%;
    }
}

@media (max-width: 1100px) {
    .main-container {
        flex-direction: column;
    }
    .small-div1 {
        width: 100%;
        max-width: none;
        border-right: none;
        margin-bottom: 20px;
    }
    .small-div1 .info-div{
        display: flex;
        flex-direction: column;

    }
    .small-div2 .info-div{
        display:none;
    }
    .image-div {
        width: 40%;
        height: 200px;
    }
    .small-div2 {
        width: 100%;
        max-width: none;
    }
    .small-div2 .objective-div{
        display: flex;
        flex-direction: column;
    
    }
    .small-div2 .objective-div{
        display: none;
    }
    #mb1{
        display: none;
    }
    #mb2{
        display: flex;
        margin-top: 25px;
    }
    .mobile-div2 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }
    .small-div2 .mobile-div2 .linkedin-div {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: auto;
        align-items: center;
    }
    .small-div2 .linkedin-barcode {
        height: 250px;
    }
    .small-div1 .linkedin-div{
        display: none;
    }
}