body {
    padding: 0px;
    margin: 0px;
    padding-top: 0px;
    scroll-behavior: smooth;
}

h1 {
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
p,li{
    font-size: 13px;
    font-family: sans-serif;
    text-align: justify;
    padding-top: 10px;
    padding-right: 10px;
}

li{
    font-size: 13px;
    font-family: sans-serif;
    text-align: justify;
    padding-top: 5px;
    padding-right: 10px;
}

.main-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0px;
    margin-bottom: 100px;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('landing-pics/bg3.webp');
}

.portfolio-container {
    width: 100%;
    height: 250px;
    display: flex;   
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

.portfolio-text {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center */
    align-items: flex-start; /* Horizontally center */
    width: 65%;
    height: 100%;
    color: white;
    padding: 25px;
    margin-left: 0px;
    overflow: hidden;
}

.portfolio-text .subtitle {
    font-size: 13px;
    font-family: sans-serif;
}

.portfolio-text .title {
    font-size: 18px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

.portfolio-text .name {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.portfolio-text .auto-type {
    color: greenyellow;
}

.portfolio-text .auto-des {
    font-size: 13px;
    font-family: sans-serif;
    text-align: justify;
}


.portfolio-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30%;
    padding: 35px;
}

.ok {
    width: 100%;
    height: 100%;
    border: 5px solid white; 
    box-sizing: border-box;
    overflow: hidden;
    clip-path: inset(2%);
    background: #1b2326;
}


.ok1 {
    width: 50%;
    height: 100%;
    position: relative;
    box-shadow: 16px 14px 20px black;
}

.ok1::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 0px solid transparent;
    background: linear-gradient(90deg, #ff53bb, #1b2326 30%, #00f8d3 50%, #1b2326 70%, #ff53bb); 
    background-size: 200% 100%;
    animation: pulse 3s linear infinite alternate;
    filter: blur(5px);
}

@keyframes pulse {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 0;
    }
}

.portfolio-image img {
    width: 100%;
    height: 100%;
}

@media (max-width: 1030px) {
    .main-container{
        height: 550px;
    }
    .portfolio-container {
        align-items: center;
        height: 350px;
    }    
    .portfolio-text {
        height: auto;
        color: white;
        margin: 0px;
        overflow: hidden;
    }
    .portfolio-image {
        align-items: center;
        padding: 25px;
    }    
    .portfolio-image img {
        object-fit: cover;
    }
    .ok,.ok1{
        height: auto;
    }
    .ok1{
        width: 75%;
    }
    .nav-heading h1{
        font-size: 10px;
        padding-left: 0px;
    }
}

@media (max-width: 610px) {
    .main-container{
        height: auto;
    }
    .portfolio-container {
        align-items: center;
        height: auto;
        display: grid;
    }    
    .portfolio-text {
        height: 400px;
        color: white;
        width: 95%;
        margin: 0px auto;
        order: 1;
        overflow: hidden;
    }
    .portfolio-image {
        align-items: center;
        padding: 10px;
        margin: 0px auto;
        order: 0;
        height: auto;
    }    
    .portfolio-image img {
        object-fit: cover;
    }
    .ok,.ok1{
        height: auto;
    }
    .ok1{
        width: 100%;
    }
}

.navbar {
    background-color: transparent;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 75px;
}

.nav-heading {
    width: 30%;
    color: white;
    height: auto;
    display: flex;
    align-items: center;
}

.nav-heading h1 {
    font-size: 18px;
    margin: 0;
    padding: 10px;
    padding-left: 50px;
}

.nav-btn {
    width: 70%;
    color: white;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.large-button {
    width: 100%;
    height: 100%;
    padding: 4px;
    font-size: 10px;
    border: 1px solid greenyellow;
    color: white;
    border-radius: 10px;
    background-color: transparent;
    margin: 0px;
    transition: color 0.3s;
}

.large-button:hover {
    color: white;
    background-color: green;
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-content {
    height: auto;
    width: 100%;
    padding: 0px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.sk-head {
    text-align: center;
    color: black;
    padding: 0px;
}

.skill {
    width: 49%;
    height: auto;
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 10px 10px 15px rgba(0, 0, 0, 0.5);
    padding-left: 15px;
    border-radius: 15px;
    margin: 0px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    overflow: hidden;
}

.skill .custom-icon {
    font-size: 1.5rem;
    line-height: 2;
    transition: font-size 0.3s;
}

.skill h3 {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.skill p {
    font-size: 13px;
    line-height: 1;
    font-family: sans-serif;
    transition: opacity 0.3s;
}

.skill:hover {
    background: linear-gradient(248.6deg, rgb(254, 99, 132) 0%, rgb(49, 52, 56) 99.8%);
    color: white;
    transform: scale(1.05);
}

.skill:hover h3, .skill:hover p, .skill:hover .custom-icon {
    transform: translateY(-3px);
}

.project-container {
    margin: 0px auto;
    margin-top: 200px;
    width: 95%;
    align-items: center;
    height: auto;
}
.portfolio-container h1,h4{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.project-content {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
}
.project-content h2{
    font-size: 18px;
    padding-top: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.project-content h4{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.project-head {
    text-align: center;
    color: black;
    padding: 0px;
    padding-bottom: 30px;
}

.project-item {
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
    transition: transform 0.3s, box-shadow 0.3s;
    height: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 10px 10px 15px rgba(0, 0, 0, 0.5);
    padding: 0px;
    padding-left: 15px;
    align-content: center;
    border-radius: 15px;
    margin: 0px;
    margin-bottom: 50px;
    overflow: hidden;
}

.project-icon {
    font-size: 1.5rem;
    transition: font-size 0.3s;
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding-bottom: 10px;
}
.center-button a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-family: sans-serif;
    background-color: green;
    border-radius: 10px;
    padding: 5px 10px;
}

.center-button a:hover{
    background-color: white;
    color: green;
}
.project-item:hover {
    color: black;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.7);
}

.sk-head {
    text-align: center;
    color: black;
    padding: 0px;
}

.cert-container {
    margin: 0px;
    margin-top: 180px;
    width: 100%;
    height: auto;
    align-items: center;
}

.cert-content {
    display: flex;
    height: auto;
    width: 95%;
    margin: 0px auto;
    flex-wrap: wrap;
    
}

.cert-item {
    width: 49%;
    height: auto;
    background: linear-gradient(to top, #dfe9f3 0%, white 100%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 10px 10px 15px rgba(0, 0, 0, 0.5);
    padding: 0px;
    border-radius: 15px;
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-evenly;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    overflow: hidden;
}


.cert-item .custom-icon {
    font-size: 1.5rem;
    padding-left: 0px;
    transition: font-size 0.3s;
}

.cert-item h2{
    font-size: 18px;
    padding-left: 20px;
    padding-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}

.cert-item h4{
    font-size: 18px;
    padding-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}

.cert-item p {
    transition: opacity 0.3s;
    text-align: justify;
    padding: 15px;
    margin: 0px;
}

.cert-item li {
    transition: opacity 0.3s;
    text-align: justify;
}

.cert-item:hover {
    color: black;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.7);
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

.user-section {
    border-radius: 20px;
    width: 97%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.7);
}

.carousel-caption1 {
    padding: 0px;
}

label i {
    margin: 0px;
    font-size: 18px;
    vertical-align: middle;
}

.btn-custom {
    background-color: #0074d9;
    color: white;
    border: none;
    border-radius: 25px;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-custom:hover {
    background-color: #0056b3;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 100%;
}

.footer-links {
    display: flex;
    align-items: center;
}

.footer-content a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

#f-p{
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #0077B5;
}

.social-icons {
    text-align: center;
    align-items: center;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #0077B5;
}

@media (max-width: 1030px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        padding: 1px;
    }
    .social-icons {
        margin-top: 10px;   
    }
    .footer-links{
        font-size: 70%;
    }
}

@media (max-width: 1100px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        padding: 1px;
    }
    .social-icons {
        margin-top: 10px;   
    }
    .footer-links{
        font-size: 70%;
    }
}

@media (max-width: 1100px) {
    .navbar {
        height: auto;
        border: none;
    }

    .nav-heading {
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 20px;
    }

    .nav-heading h1 {
        padding-left: 10px;
    }

    .nav-btn {
        width: 100%;
        justify-content: space-evenly;
        padding: 2px;
    }

    .large-button {
        width: 100%;
        font-size: 10px;
        margin: 5px 10%;
    }
}

@media (max-width: 850px) {
    .cert-container {
        flex-direction: column;
    }
    .cert-item {
        width: 95%;
        height: auto;
        margin: 0px auto;
        margin-bottom: 50px;
    }
    .cert-content {
        width: 100%;
        height: auto;
        margin: 0px;
        align-items: center;
    }
}
@media (max-width: 1030px) {
    .skill {
        width: 95%;
        margin: 0px auto;
        margin-top: 30px;
        margin-bottom: 30px;
        height: auto;
    }
    .skills-container {
        height: auto;
        align-items: center;
    }
    .skill-content {
        display: flex;
        flex-wrap: wrap;
    }
}
