body {
    padding: 12px;
    padding-top: 0px;
    scroll-behavior: smooth;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    background-color: transparent;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: 75px;
}

.nav-heading {
    width: 30%;
    background-color:transparent;
    color: white;
    height: auto;
    display: flex;
    align-items: center;
}

.nav-heading h1 {
    font-size: 18px;
    margin: 0;
    padding: 10px;
    padding-left: 50px;
}

.nav-btn {
    width: 70%;
    color: white;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.large-button {
    width: 100%;
    height: 100%;
    padding: 4px;
    font-size: 10px;
    border: 1px solid greenyellow;
    color: white;
    border-radius: 10px;
    background-color: transparent;
    margin: 0 15px;
    transition: color 0.3s;
}

.large-button:hover {
    color: white;
    background-color: green;
}


#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.main-container {
    position: relative;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
    background-image: url('bg2.webp');
    background-size: cover;
    background-position: center;
}

.portfolio-container {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-size: cover;
}

.portfolio-image {
    height: 300px;
    width: 25%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-image: url('portfolio_pic.webp');
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 100%;
    border: 5px solid transparent;
    overflow: hidden;
    animation: glow 1s infinite alternate;
}

@keyframes glow {
    from {
        border-color: #0074d9;
        box-shadow: 0 0 10px rgba(0, 116, 217, 0.7);
    }
    to {
        border-color: #0056b3;
        box-shadow: 0 0 20px rgba(0, 116, 217, 1);
    }
}

.portfolio-text {
    width: 100%;
    height: auto;
    color: white;
    padding: 20px;
    margin: 0 auto;
    justify-content: center;
    position: center;
    overflow: hidden;
    text-align: center;
    font-family: sans-serif;
}
.portfolio-text h1{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
.auto-type{
    font-size: 18px;
    color: greenyellow;
}
.portfolio-text h4{
    font-size: 13px;
}

.sub-container{
    width: 100%;
    height: auto;
    padding-top: 200px;
}
.sub-container h1{
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

.about-con {
    width: 100%;
    display: flex;
    height: auto;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.about-con:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.7);
}

.about-img {
    width: 40%;
    height: auto;
    background-size: cover;
}

.about-item {
    width: 60%;
    padding: 10px;
    height: auto;
    margin: 0 auto;
    color: black;
    display: block;
}

.about-item p,h2{
    padding: 5px;
    font-size: 13px;
    text-align: justify;
    font-family: sans-serif;
}
.about-item h3{
    padding: 5px;
    font-size: 13px;
    text-align: justify;
}
.about-content{
    display: flex;
    margin: 0 auto;
    padding: 10px;   
}


.skill-con {
    width: 100%;
    height: 750px;
    display: flex;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 10px 10px 15px rgba(0, 0, 0, 0.5);
}


.skill-con:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 10px 10px 15px rgba(0, 0, 0, 0.7);
}

.skill-1 {
    width: 45%;
    height: auto;
    padding: 20px;
    background-size: cover;
}
.skill-1 h1{
    font-size: 18px;
    padding-bottom: 22px;
}
.heading {
    font-size: 13px;
}
.skill-2 {
    width: 47%;
    height: auto;
    padding: 20px;
    color: black;
    display: block;
}
.skill-2 h1{
    font-size: 18px;
    padding-bottom: 22px;
}

.progress-charts {
    overflow: hidden;
}

.progress-charts + .progress-charts {
    margin-top: 30px;
}

.progress-charts .progress {
    height: 13px;
    overflow: visible;
    border-radius: 10px;
    padding: 3px;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    border: 5px yellow;
}

.progress-charts .progress .progress-bar {
    overflow: visible;
    position: relative;
    border-radius: 14px;
    background-color: #42378f;
    background-image: linear-gradient(315deg, #42378f 0%, #f53844 74%)
}

.progress-charts .progress .progress-bar span.percent-label {
    position: absolute;
    right: -7px;
    top: -22px;
    font-weight: 400;
    color:black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.9;
}

.education-container {
    padding-top: 200px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.sk-head h1{
    font-size: 18px;
    padding: 10px;
}

.education-content {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    text-align: left;
    align-items: center;
    justify-content: space-around;
}

.education-item {
    flex: 1;
    height: 500px;
    flex-wrap: wrap;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 10px 10px 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    padding: 20px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    overflow: hidden;
    margin: 0 auto;
    margin-right: 10px;
}

.education-item .custom-icon {
    font-size: 2rem;
    transition: font-size 0.3s;
}

.education-item h1{
    font-size: 18px;
}
.education-item h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 13px;
}

.education-item h5{
    font-size: 13px;
    margin-top: 30px;
    font-family: sans-serif;
    text-align: justify;            
}

.edu-but {
    width: 70px;
    height: 30px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 13px;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.education-item:hover {
    background: linear-gradient(248.6deg, rgb(254, 99, 132) 0%, rgb(49, 52, 56) 99.8%);
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.7);
    transform: scale(1.05);
}

.education-item:hover .edu-but{
    background: linear-gradient(248.6deg, rgb(254, 99, 132) 0%, rgb(49, 52, 56) 99.8%);
    color: white;
    transform: scale(1.05);
}

.course-main{
    height: auto;
    width: 100%;
    margin-top: 150px;
    padding: 3px;
    text-align: center;
}
.course-main h1{
    font-size: 18px;
}
.course-sub{
    height: auto;
    width: 100%;
    padding: 0px;
}

.course-item {
    width: 100%;
    height: auto;
    margin-left: 0px;
    border-radius: 10px;
    color:black;
}

.coursera-img {
    height: 300px;
    width: 35%;
    margin: 0 auto;
    margin-bottom: 0px;
    background-size: cover;
    background-position: left;
    text-align: center;
    border-radius: 20px; 
    border: 10px solid white;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.coursera-item {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    border-radius: 25px;
    color: #000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 10px 10px 15px rgba(0, 0, 0, 0.5);
}
.coursera-item h1{
    font-family: 'Times New Roman', Times, serif;
}
.coursera-item h5{
    font-size: 13px;
    font-family: sans-serif;
}
.coursera-item:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.7);
}

.c-img{
    width: 20%;
    height: auto;
    margin: 0 auto;
    padding: 25px;
    margin-bottom: 0px;
    background-size: cover;
    background-position: center;
}

.c-txt{
    width: 80%;
    height: auto;
    margin: 0 auto;
    color: black;
    text-align: left;
    padding: 20px;
}

.c-txt h5{
    font-size: 13px;
    font-family: sans-serif;
    margin-right: 10px;
    text-align: justify;
    margin-left: 0px;
}

.c-txt ul{
    text-align: justify;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: -40px;
}

.c-btn {
    width: auto;
    height: auto;
    padding: 10px;
    font-size: 13px;
    border: 0px;
    border-radius: 10px;
    justify-content: center;
    background-color:green;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 10px 10px 15px rgba(0, 0, 0, 0.5);
}
.c-btnbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.c-btn:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.7);
    background-color: white;
    text-decoration: none;
    color: green;
}

.cu-box{
    height: auto;
    padding: 10px;
    margin-top: 50px;
}

.cu-box h1{
    padding: 10px;
}
@media screen and (max-width: 1100px) {
    .course-item {
        width: 100%;
    }

    .c-img{
        width: 40%;   
    }
    .c-txt{
        width: 100%;
        font-size: 100%;
    }

    .c-btn{
        color: white;
    }
    .coursera-img{
        width: 60%;
        height: 200px;
    }            
}

.project-main{
    width: 100%;
    height: auto;
    margin-top: 150px;
    padding: 3px;
}
.project-main h1{
    padding: 10px;
}

.project-sub{
    width: 75%;
    height: auto;
    margin-bottom: 50px;
    padding: 40px;
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.project-sub:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.7);
}

.project-sub2{
    width: 75%;
    margin-left: 27%;
    height: auto;
    overflow: hidden;
    margin-bottom: 50px;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.project-sub2:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.7);
}

.project-img {
    width: 35%;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 0px;
    background-size: cover;
    background-color: white;
    background-position: center;
    border: 7px solid white;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.project-item{
    width: 100%;
    height: auto;
    color: black;
}

.project-item h4{
    margin-top: 5px;
    font-size: 13px;
    text-align: justify;
    font-family: sans-serif;
}
.project-item h1{
    font-size: 18px;
}

.project-item li{
    margin-left: -20px;
    font-size: 13px;
    text-align: justify;
    font-family: sans-serif;
}

.project-badge {
    background-color: #0074d9;
    color: white;
    padding: 3px 3px;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
}

.project-timeline {
    font-size: 13px;
    font-family: sans-serif;
}

@media screen and (max-width: 1100px) {
    .project-sub {
        width: 100%;
        overflow: hidden;
        padding: 20px; 
    }
    .project-sub2 {
        width: 100%;
        margin-left: 0px;
        overflow: hidden;
        padding: 20px; 
    }
    .project-img {
        height: 200px; 
        width: 200px;
        border-radius: 10px;
        border: 2px solid white;
    }
    .project-badge{
        margin-bottom: 10px;
    }
}

.resume-main{
    height: auto;
    width: 100%;
    color: black;
    padding: 3px;
    text-align: center;
    padding-top: 200px;
}
.resume-main h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.resume-sub{
    height: 320px;
    width: 100%;
    display: flex;
    border-radius: 25px;
    margin-top: 50px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.resume-sub:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.7);
}

.resume-txt{
    height: 100%;
    width: 60%;
    justify-content:center;
    margin: 50px auto;
    padding: 20px;
    padding-bottom: 0px;
}

.resume-img{
    width: 40%;
    height: auto;
    margin: 0 auto;
}

.resume-txt h4{
    text-align: justify;
    font-size: 13px;
    font-family: sans-serif;
    padding: 25px;
}

.resume-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding: 0px;
    font-size: 13px;  
}

.resume-btn .r-btn{
    width: auto;
    height: auto;
    padding: 10px;
    font-size: 13px;
    border: 0px;
    margin: 10px;
    border-radius: 10px;
    background-color: green;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.r-btn:hover{
    background-color: white;
    color: green;
}


.l-btn {
    width: 90%;
    height: auto;
    padding: 10px;
    font-size: 13px;
    border: 0px;
    border-radius: 10px;
    background-color: green;
    margin: 20px;
    
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.2);
}

.l-btn:hover{
    background-color: white;
    color: green;
}

.contact-main{
    height: auto;
    width: 100%;
    color: black;
    padding: 25px;
    text-align: center;
    margin-top: 200px;
}
.contact-sub{
    height: auto;
    width: 100%;
    display: flex;
    border-radius: 25px;
    margin-top: 50px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.contact-sub:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 10px 10px 15px rgba(0, 0, 0, 0.7);
}

.contact-txt{
    margin-top: 25px;
    height: 100%;
    width: 60%;
    padding: 5px;
    text-align: left;
}
.contact-txt h1{
    font-size: 18px;
    padding: 10px;
}
.contact-img{
    width: 40%;
    height: auto;
    margin: 0 auto;
}

.contact-txt h5{
    font-size: 13px;
    padding: 10px;
    font-family: sans-serif;
    text-align: justify;
}

.contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    margin-top: 100px;
    padding: 50px;
    
}

.contact-form {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.form-group {
    margin-top: 10px;
    margin-bottom: 25px;
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: relative;
}

input, textarea {
    position: absolute;
    width: 97%;
    outline: none;
    font-size: 13px;
    padding: 0 30px;
    line-height: 80px;
    border-radius: 10px;
    border: 2px solid black;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
}

textarea {
    height: 120px;
}

.lableline {
    position: absolute;
    font-size: 1.6em;
    color: black;
    padding: 0 25px;
    margin: 0 20px;
    background-color: white;
    transition: 0.2s ease;
}

input:focus, input:valid, textarea:focus, textarea:valid {
    color:black;
    border: 4px solid #66ff00;
}

input:focus + .lableline, input:valid + .lableline, textarea:focus + .lableline, textarea:valid + .lableline {
    color: black;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(-15px, -16px) scale(0.88);
    z-index: 1111;
}

.social-icons2 {
    text-align: center;
    margin-top: 10px;
}

.social-icons2 a {
    display: inline-block;
    margin: 0 50px;
    font-size: 50px;
    color: #0077B5;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons2 a:hover {
    color: #2358A6;
}
@media (max-width: 1100px) {
    .social-icons2 a {
        font-size: 40px;
        margin: 0 25px;
    }
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    align-items: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.container {
    padding: 1px;
}

.footer-links {
    display: flex;
    font-size: 18px;
    align-items: center;
}

.footer-links a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}
#f-p {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #0077B5;
}

.social-icons {
    text-align: center;
    align-items: center;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #0077B5;
}

@media (max-width: 1100px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        padding: 1px;
    }
    .social-icons {
        margin-top: 10px;                
    }
    .footer-links{
        font-size: 70%;
    }
}

@media screen and (max-width: 1100px) {
    .skill-con {
        height: auto;
        display: block;
    }
    .skill-1 {
        width: 100%;
    }
    .skill-2 {
        width: 100%;
        margin: 10px 0;
        padding-bottom: 10px;
    }
    .progress-charts {
        margin-top: 20px;
    }
    .progress-charts .progress {
        font-size: 12px;
    }
}

@media screen and (max-width: 1100px) {
    .skill-1, .skill-2 {
        margin: 5px 0;
    }
    .progress-charts .progress {
        font-size: 10px;
    }
}
@media (max-width: 1100px){
    .education-content{
        display: block;
        text-align: left;
    }
    .education-item{
        height: auto;
        margin-bottom: 25px;
        margin-right: 0px;
    }
}
@media screen and (max-width: 1100px) {
    .portfolio-image{
        height: 200px;
        width: 200px;
    }
}
@media screen and (max-width: 1100px) {
    .about-con {
        flex-direction: column;
        padding: 10px;
    }
    .about-item{
        width: 100%;
    }
    .about-img{
        width: 100%;
        height: 500px;
    }
}

@media (max-width: 1100px) {
    .contact-sub {
        flex-direction: column;
    }
    .contact-txt {
        width: 100%;
    }
    .contact-img {
        width: 100%;
    }
}

@media (max-width: 1100px) {
    input,
    textarea {
        width: 100%;
        height: 99%;
        font-size: 10px;
        padding: 0 15px;
        line-height: 40px;
        font-size: 100%;
    }
    textarea {
        height: 100px;
    }
    .contact-form{
        padding-top: 25px;
    }
    .form-group {
        padding-bottom: 40px;
    }
    .lableline{
        font-size: 100%;
    }
}
@media (max-width: 1100px) {
    .resume-main {
        height: auto;
        width: 100%;
    }
    .resume-sub {
        height: auto;
        flex-direction: column;
    }
    .resume-txt{
        order: 1;
        width: 100%;
        margin: 0 auto;
    }
    .resume-txt h4{
        padding: 5px;
    }
    .resume-img {
        order: 0;
        width: 100%;
        height: 350px;
    }
    .resume-btn {
        padding: 5px;
    }
    .resume-btn .r-btn {
        margin: 5px;
    }
}
@media (max-width: 1100px) {
    .navbar {
        height: auto;
        border: none;
    }

    .nav-heading {
        width: 100%;
        text-align: center;
        justify-content: center;
        padding-top: 20px;
    }
    .nav-heading h1 {
        padding-left: 10px;
    }

    .nav-btn {
        width: 100%;
        justify-content: space-evenly;
        padding: 2px;
    }

    .large-button {
        width: 100%;
        font-size: 10px;
        margin: 5px 10%;
    }
}